<div class="modal fade show modal_container" role="dialog">
  <div class="modal-dialog dialog_container">
    <div class="modal-content dialog_content_container"
      [ngClass]="{'dialogclose':isDialogClose}">
      <div class="modal-header dialog_header_container">
        <h4 class="modal-title">Range</h4>
        <button type="button" class="close"
          (click)="callDialogClose()">×</button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="form-group col-md-4 col-sm-4 col-xs-12 form_item">
              <label>From</label>
              <span class="mandatory"> *</span>
              <div>
                <input class="form-control" type="text"
                  (input)="userInputData.numberfrom=$event.target.value"
                  (keypress)="allowedNumberOnly($event)">
              </div>
              <span class="mandatory_error"
                style="color:red;font-size: 10px;height: 15px;display: block;">{{userInputData.numberfromError}}</span>
            </div>

            <div class="form-group col-md-4 col-sm-4 col-xs-12 form_item">
              <label>To</label>
              <span class="mandatory"> *</span>
              <div>
                <input class="form-control" type="text"
                  (input)="userInputData.numberto=$event.target.value"
                  (keypress)="allowedNumberOnly($event)">
              </div>
              <span class="mandatory_error"
                style="color:red;font-size: 10px;height: 15px;display: block;">{{userInputData.numbertoError}}</span>
            </div>

            <div class="form-group col-md-4 col-sm-4 col-xs-12 form_item">
              <label>Amount</label>
              <span class="mandatory"> *</span>
              <div>
                <input class="form-control" type="text"
                  value="{{userInputData.amount}}"
                  (input)="userInputData.amount=$event.target.value"
                  (keypress)="allowedNumberOnly($event)">
              </div>
              <span class="mandatory_error"
                style="color:red;font-size: 10px;height: 15px;display: block;">{{userInputData.amountError}}</span>
            </div>
          </div>
          <div class="clearfix">&nbsp;</div>
          <button type="button" class="form_cancel_btn"
            (click)="callDialogClose()">Close</button>
          <button type="submit" class="form_submit_btn">Submit</button>
          <div class="clearfix">&nbsp;</div>
        </form>
      </div>
      <!-- <ngx-loading [show]="this.sportServiceRange._loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
    </div>
  </div>
</div>