 <!-- Preloader -->
<!-- <div id="preloader">
  <div class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div> -->
<!-- Preloader -->

<!-- mobile menu -->
<div class="modal fade mobileMenuOpen" id="mobileVMenu" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog menuMobile">
    <div class="modal-content">
      <div class="modal-header mobileMenu_header">
        <div class="mbtn">
          <button type="button" class="btn btn-rigister" data-bs-toggle="modal"
            data-bs-target="#registerModal" *ngIf="signUpStatus==1"><i
              class="far fa-user"></i> Register</button>
          <!-- <button type="button" class="btn btn-promotion"><i
              class="far fa-bell"></i> Promotions</button> -->
        </div>
      </div>
      <div class="modal-body side-navbar">
        <div class="mMenu">
          <ul class="nav mMenu text-white">
            <li class="nav-link">
              <a href="/sports"><img src="./assets/img/footballSport_icon.png">
                Sport</a>
            </li>
            <li class="nav-link">
              <a href="/casinos/games/live-casino"><img
                  src="./assets/img/liveCasino_ixon.png">
                Live Casino</a>
            </li>
            <li class="nav-link">
              <a href="/casinos/games/slots"><img
                  src="./assets/img/slots_icon.png">
                Slots</a>
            </li>
            <li class="nav-link">
              <a href="/inplay-matches"><img
                  src="./assets/img/in-play-live.png">
                In-Play</a>
            </li>
            <li class="nav-link">
              <a href="/casinos/games/roulette"><img
                  src="./assets/img/casino_icon.png">
                Casino</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- mobile menu end-->

<!-- header-start -->
<header class="site-header menu-Cfluid site-header--sticky">
  <div class="container-fluid">
    <div class="top-header">
      <div class="brand-logo">
        <button id="toggle-menu"
          class="me-3 active mobilemenuactiv menu-toggle">
          <img src="./assets/img/menu-icon.png" />
        </button>
        <a href="/home">
          <img src="{{adminLink}}{{sitelogo}}" alt
            class="dark-version-logo">
        </a>
      </div>
      <div class="timezone d-none d-md-block">
        <span class="time mr-10">{{ time | date:
          'd MMM, y hh:mm:ss a' }}</span>
        <!-- <span class="zone">GMT+5.5</span> -->
      </div>

      <div class="loginSide">
        <div class="rlBtn">
          <a href="javascript:void(0)" data-bs-toggle="modal"
            data-bs-target="#registerModal"
            class="registerBtn" *ngIf="signUpStatus==1">Register</a>
          <a href="javascript:void(0)" data-bs-toggle="modal"
            data-bs-target="#loginModal"
            class="loginBtn">Login</a>
        </div>
      </div>
    </div>

    <nav class="navbar site-navbar memubg d-none d-md-block">
      <div class="menu-block-wrapper">
        <nav class="menu-block navManu" id="append-menu-header">
          <ul class="site-menu-main">
            <li class="nav-item">
              <a href="/inplay-matches" class="nav-link-item">In-Play</a>
            </li>
            <li class="nav-item">
              <a href="/sports" class="nav-link-item">Sport</a>
            </li>
            <li class="nav-item">
              <a href="/casinos/games/roulette" class="nav-link-item">Casino</a>
            </li>
            <li class="nav-item">
              <a href="/casinos/games/slots" class="nav-link-item">Slots</a>
            </li>
            <li class="nav-item">
              <a href="/casinos/games/virtual" class="nav-link-item">Virtual
                Sport</a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</header>
<!-- header-end -->
<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1"
  aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"
        style="background-color: #363438;">
        <h5 class="modal-title"
          id="exampleModalLabel">REGISTRATION</h5>
        <a data-bs-dismiss="modal" aria-label="Close"><i
            class="fas fa-times"></i></a>
      </div>
      <div class="modal-body modalbg">
        <div class="row">
          <div class="col-md-12">
            <form class="login-main-bx-inner" [formGroup]="register_form"
              (ngSubmit)="registerSave()" name="registerForm" novalidate>
              <input type="hidden" formControlName="referralid" id="referralid"
                aria-describedby="referralidHelp">
              <div class="mt-2">
                <!-- <label for="name"
                  class="form-label">Full
                  Name</label> -->
                <input type="text" formControlName="name"
                  class="form-control formsty"
                  placeholder="Full Name"
                  id="name"
                  aria-describedby="nameHelp">
                <div class="error_txt"
                  *ngIf="(!register_form.controls['name'].valid && register_form.controls['name'].touched) || (register_form.controls['name'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error"> Enter valid name.</div>
              </div>
              <div class="mt-2">
                <!-- <label for="username"
                  class="form-label">User
                  Name</label> -->
                <input type="text" formControlName="username"
                  (keypress)="keyPressAlphaNumericWithCharacters($event)"
                  (blur)="CheckUserNameExist($event)"
                  class="form-control formsty" placeholder="User Name"
                  id="username" aria-describedby="usernameHelp">
                <div class="error_txt"
                  *ngIf="(!register_form.controls['username'].valid && register_form.controls['username'].touched) || (register_form.controls['username'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error">Enter valid user name.</div>
              </div>
              <div class="mt-2">
                <!-- <label for="email"
                  class="form-label">Email
                  address</label> -->
                <input type="email" formControlName="email"
                  (blur)="CheckUserNameExist($event)"
                  class="form-control formsty" placeholder="Email"
                  id="email" aria-describedby="emailHelp">
                <div class="error_txt"
                  *ngIf="(!register_form.controls['email'].valid && register_form.controls['email'].touched) || (register_form.controls['email'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error">Enter valid email.</div>
              </div>
              <div class="mt-2">
                <!-- <label for="phone"
                  class="form-label">Phone
                  Number</label> -->
                <input type="text" (keyup)="onlyNumber($event)"
                  formControlName="mobile"
                  class="form-control formsty"
                  placeholder="Phone Number"
                  id="phone"
                  aria-describedby="phoneHelp">
                <div class="error_txt"
                  *ngIf="(!register_form.controls['mobile'].valid && register_form.controls['mobile'].touched) || (register_form.controls['mobile'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error">Enter valid mobile number.</div>
                <a href="javascript:void(0);" (click)="resendOtp()"
                  *ngIf="otpShow" class="resendotp">Resend Otp</a>
                <div class="error_txt existnumber"></div>
              </div>
              <div class="mt-2" *ngIf="otpShow">
                <input type="input" placeholder="OTP*"
                  pattern="^0[1-9]|[1-9]\d$"
                  maxlength="6" (keyup)="onlyNumber($event)"
                  (keyup)="CheckValidOtp($event)"
                  (blur)="CheckValidOtp($event)" formControlName="otp"
                  class="form-control formsty" id="otp" autocomplete="off">
                <!-- <div class="error_txt"
                  *ngIf="(!register_form.controls['otp'].valid && register_form.controls['otp'].touched) || (register_form.controls['otp'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error">Enter valid otp.</div> -->
                <div class="error_txt otpvalid"></div>
              </div>
              <div class="mt-2">
                <!-- <label for="newPassword"
                  class="form-label">Password</label> -->
                <input type="password" formControlName="newPassword"
                  [(ngModel)]="newPassword"
                  class="form-control formsty"
                  placeholder="Password"
                  id="newPassword"
                  aria-describedby="newPasswordHelp">
                <div class="error_txt"
                  *ngIf="(!register_form.controls['newPassword'].valid && register_form.controls['newPassword'].touched) || (register_form.controls['newPassword'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error">Enter Password.</div>
              </div>
              <div class="mt-2">
                <!-- <label for="confPassword"
                  class="form-label">Repeat
                  Password</label> -->
                <input type="password" formControlName="confPassword"
                  [(ngModel)]="confPassword"
                  class="form-control formsty"
                  placeholder="Repeat Password"
                  id="confPassword"
                  aria-describedby="confPasswordHelp">
                <div class="error_txt"
                  *ngIf="(!register_form.controls['confPassword'].valid && register_form.controls['confPassword'].touched) || (register_form.controls['confPassword'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error">Password Mismatch.</div>
              </div>
              <!-- <div class="mt-4">
                
                <input type="text" formControlName="referralid"
                  class="form-control formsty"
                  placeholder="Referral Id"
                  id="referralid"
                  aria-describedby="referralidHelp">
              </div> -->
              <div class="mt-2 form-check">
                <input type="checkbox" formControlName="ageagree"
                  name="option1" class="form-check-input"
                  id="check1">
                <label
                  class="form-check-label formlabelTxt"
                  for="exampleCheck1">I
                  confirm that I am over 18
                  years old and accept <a
                    href="/page/general-terms-and-conditions">the
                    terms and
                    conditions*</a></label>
                <div class="error_txt"
                  *ngIf="(!register_form.controls['ageagree'].valid && register_form.controls['ageagree'].touched) || (register_form.controls['ageagree'].invalid && !isValidFormSubmittedR && isValidFormSubmittedR!=null)"
                  [ngClass]="error"> Please check if you are 18+.
                </div>
              </div>
              <button id="continue_btn" type="submit" class="rigisterBtn"
                *ngIf="isUser">Register</button>
              <button type="button" class="rigisterBtn" *ngIf="!isUser"
                (click)="CheckUserMobileExist()"
                style="margin-top: 10px;">GET OTP</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Register Modal -->

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1"
  aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"
        style="background-color: #363438;">
        <h5 class="modal-title"
          id="exampleModalLabel">Login</h5>
        <a data-bs-dismiss="modal" aria-label="Close"><i
            class="fas fa-times"></i></a>
      </div>
      <div class="modal-body modalbg">
        <div class="row">
          <div class="col-md-12">
            <form class="login-main-bx-inner" [formGroup]="login_form"
              (ngSubmit)="login()" name="loginForm" novalidate>
              <div class="mt-4">
                <label for="username"
                  class="form-label">User
                  Name</label>
                <input type="email" formControlName="username"
                  class="form-control formsty"
                  placeholder="User Name"
                  id="username"
                  aria-describedby="username">
                <div class="error_txt"
                  *ngIf="(!login_form.controls['username'].valid && login_form.controls['username'].touched) || (login_form.controls['username'].invalid && !isValidFormSubmitted && isValidFormSubmitted!=null)"
                  [ngClass]="error"> Enter valid user name.</div>
              </div>
              <div class="mt-4">
                <label for="password"
                  class="form-label">Password</label>
                <input type="password" formControlName="password"
                  class="form-control formsty"
                  placeholder="Password"
                  id="password"
                  aria-describedby="password">
                <div class="error_txt"
                  *ngIf="(!login_form.controls['password'].valid && login_form.controls['password'].touched) || (login_form.controls['password'].invalid && !isValidFormSubmitted && isValidFormSubmitted!=null)"
                  [ngClass]="error"> Enter valid password.</div>
              </div>
              <div class="mt-4 d-flex">
                <input type="checkbox" class="form-check-input"
                  id="exampleCheck1" checked>
                <label id="checkboxLabel" class="form-check-label"
                  for="exampleCheck1"> I am at least <a
                    href="javascript:void(0)" data-bs-toggle="modal"
                    data-bs-target="#plusmodal"> <b>18 years</b></a> of age
                  and I have read, accept and agree to the <a
                    href="/page/general-terms-and-conditions">Terms
                    and Conditions</a> , <a
                    href="/page/responsible-gaming">Responsible Gaming</a>
                  ,<a href="https://www.gamcare.org.uk/"
                    target="_blank">GamCare</a> ,<a
                    href="https://www.gamblingtherapy.org/en"
                    target="_blank">Gambling Therapy</a></label>
              </div>
              <button
                class="rigisterBtn mt-4 mb-4"
                type="submit"
                id="continue_btn">Login</button>
              <div class="loginTxt priva_termsWrap">
                <p>This site is protected by reCAPTCHA and the Google Privacy
                  Polic and Terms of Service apply.</p>
                <!-- <p><a href="javascript:void(0);">Forgot your
                      Password</a></p> -->
                <!-- <p>Don't have accountyet? <a href="javascript:void(0);"
                      (click)="showModalSign()">Sign Up Here</a></p> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="plusmodal" tabindex="-1"
  aria-labelledby="plusmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"
        style="background-color: #363438;">
        <h5 class="modal-title"
          id="exampleModalLabel">Lord999.com</h5>
        <a data-bs-dismiss="modal" aria-label="Close"><i
            class="fas fa-times"></i></a>
      </div>
      <div class="modal-body modalbg">
        <div class="row">
          <div class="col-md-12">
            <div><img
                src="https://wver.sprintstaticdata.com/v33/static/front/img/18plus.png"></div>
            <p><b>Over 18s only</b> <br> <br>It is an offence for anyone under
              the age of 18 to open an account or to gamble on Lord999.
              Lord999
              takes
              its age-verification responsibilities very seriously. We carry out
              age-verification checks on all
              customers
              who use payment mechanisms which are available to under 18s and
              additionally perform random
              age-verification
              checks on customers using other forms of funding mechanisms. We
              may ask for information to verify your
              age
              and
              could restrict or suspend your account until your age is
              confirmed.
              <br> <br>PLEASE NOTE THAT ANYONE UNDER THE AGE OF 18 YEARS OLD
              FOUND TO BE USING THIS SITE WILL HAVE ANY
              WINNINGS
              FORFEITED AND MAY ALSO BE REPORTED TO THE POLICE.
              <br> <br> <b>Filtering systems</b> <br> <br>Lord999 advises and
              encourages its customers to prevent minors from accessing gambling
              websites.
              <br> <br>Filtering solutions allow parents to regulate access to
              the internet, based on chosen criteria.
              Parents
              can use filters to prevent their children from accessing, amongst
              other things, gambling websites.
              Because
              our
              pages are 'labelled', filtering solutions being used to prevent
              gambling access are able to detect our
              site
              content, and block our pages. If you share your computer with
              friends or family who are under the legal
              age
              to
              register or bet with our site, please consider parental filtering
              solutions such as:
              <br> <br>Net Nanny™
              <a href="https://www.netnanny.com"
                target="_blank">www.netnanny.com</a> <br> <br>CyberPatrol
              <a href="https://www.cyberpatrol.com"
                target="_blank">www.cyberpatrol.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="innerSidebar dashboardNo">
  <div class="container-fluid">
    <div class="left-menu d-none d-md-block inneSbar">
      <div class="collapse d-block">
        <ul class="navbar-nav scroll-wrap">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
              href="/casinos/games/roulette"
              id="dropdownMenuButton1">
              <div
                class="nav-linklft d-flex align-items-center">
                <img alt
                  src="./assets/img/casino_icon.png">
                Casino
              </div>
            </a>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
              href="/spoorts"
              id="dropdownMenuButton1">
              <div
                class="nav-linklft d-flex align-items-center">
                <img alt
                  src="./assets/img/footballSport_icon.png">
                Sports
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
              href="/casinos/games/slots"
              id="dropdownMenuButton1">
              <div
                class="nav-linklft d-flex align-items-center">
                <img alt
                  src="./assets/img/slots_icon.png">
                Slots
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
              href="/casinos/games/live-casino"
              id="dropdownMenuButton1">
              <div
                class="nav-linklft d-flex align-items-center">
                <img alt
                  src="./assets/img/liveCasino_ixon.png">
                Live Casino
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="addSideBanner">
        <a href>
          <img src="./assets/img/sportPlay_img.webp">
        </a>
        <a href>
          <img
            src="./assets/img/choose_your_bonus_journey_img.webp">
        </a>
        <a href>
          <img src="./assets/img/livecasino_img.webp">
        </a>
        <a href>
          <img
            src="./assets/img/choose_your_bonus_journey_img.webp">
        </a>
        <a href>
          <img src="./assets/img/sportPlay_img.webp">
        </a>
      </div>
    </div>
    <div class="inmatchwrapp d-flex">
      <div class="tabwrapp inmatchlft pages">
        <h2>{{mycmsTitle}}</h2>
        <div class="content" [innerHtml]="mycmsContent"></div>
      </div>
    </div>
  </div>
</section>
<section class="footerSec">
  <div class="row_support">
    <div class="col-md-12">
      <div class="suport_24_7">
        <a href="javascript:void(0)"><span class="twentY_four">24</span><span
            class="x_textlass">X</span><span
            class="seven_text">7</span><span
            class="support_t">Support</span></a>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row_support">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="/page/about-us" class target="_blank">About
                Us</a></li>
            <li><a href="/page/general-terms-and-conditions" class
                target="_blank">Terms
                and Conditions</a></li>
            <li><a href="/page/responsible-gaming" class
                target="_blank">Responsible Gaming</a></li> <!---->
          </ul>
        </div>
        <!-- <div class="numbersPH">
        +447403777777 /+447365278899
      </div> -->
      </div>
    </div>
    <!-- footer start -->
    <div class="footer">
      <div class="secure_safeRow">
        <div class="secure-logo">
          <div class="secure_safeCol1">
            <img src="./assets/images/ssl_secure.png" class="img-fluid"
              alt="ssl_secure">
          </div>
          <div class="secure_safeCol2">
            <h6>100% SAFE</h6>
            <p>Protected connection and encrypted data.</p>
          </div>
        </div>
        <div class="eightenplus">
          <img src="./assets/images/footer_img1.jpg" alt="footer_img1">
        </div>
      </div>

      <!-- <div class="eightenplus social">
        <a href="javascript:void(0);" target="_blank"><img
            src="./assets/images/whatsapp-green.png" alt="WhatsApp"></a>
        <a href="javascript:void(0)" target="_blank"><img
            src="./assets/images/telegram-blue.png" alt="Telegram"></a>
        <a
          href="javascript:void(0)"
          target="_blank"><img src="./assets/images/instagram.png"
            alt="Instagram"></a>
      </div> -->
      <div class="disclamer">
        © Copyright {{ time | date:'y' }} Lord999. All Rights Reserved.
      </div>
    </div>
    <!-- ffoter end -->
  </div>
</section>