<div class="col-lg-3 col-md-4 col-12">
        <h5>RULES AND REGULATIONS</h5>
        <ul>
                <li><a href="/page/general-terms-and-conditions">Terms
                                and
                                Conditions</a></li>
                <li><a href="/page/aml-policy">AML
                                Policy</a></li>
                <li><a href="/page/responsible-gaming">Responsible
                                Gaming</a></li>
                <li><a href="/page/kyc-privacy-policy">Privacy
                                Policy</a></li>
                <li><a href="/page/general-terms-and-conditions">Terms and
                                Conditions
                                NetEnt</a></li>
        </ul>
</div>