<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<notifier-container></notifier-container>
<div>

  <router-outlet></router-outlet>
  <div *ngIf="devToolOpened" class="devtool-invalid">
    <div class="wrongaction">You
      are in risk {{riskCounter}}</div>
  </div>
  <!-- <div id="whatsapp-icon">
    <a href="https://wa.me/message/3NKDYJWPOYT2I1" target="_blank">
      <img src="../../../assets/Banner/whatsapp.png" width="40" alt="">
    </a>
  </div>
</div> -->