.casino .mx-wd span {
    display: block;
}
/* .casino .player-outer {
    position: relative;
} */
.casino .play-one, .casino .play-two{
    position: absolute;
    top: 5px;
    left:10px;
}
.casino .play-two {
    top:71px;
}


.play-one h5, .play-two h5{
    font-size: 15px;
    color: #fff;
    font-weight: 501;
    margin-bottom: 5px;
    padding: 0 5px;
}
.play-one img, .play-two img{
    height: 40px;
}

.play-count {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.play-count span {
    background: #f6ce60;
    padding: 3px 10px;
    color: #000;
    font-size: 40px;
    font-weight: 501;
    margin: 0 5px;
    border-radius: 5px;
}
.last-box span.result-left {
    background: #fdba06;
    padding: 4px 8px;
    font-size: 16px;
    margin: 0 !important;
    width: 160px;
    margin: 0;
    position: relative;
}

.casino .last-box span {
    display: inline-block;
    color: #000;
    padding: 5px;
    font-weight: 600;
}
.casino .last-box span.view-right {
    float: right;
}
.casino .last-box {
    background: #f6ce60;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}


.casino .drag-list .last-box span {
    display: inline-block;
    color: #000;
    padding: 2px;
    font-weight: 600;
}
.casino .drag-list .last-box span.view-right {
    float: right;
    font-size: 13px;
    padding: 4px 5px;
    font-weight: 400;
}


.embed-responsive-casino {
    padding-top: 43.17%;
}

.iframe-container{
    margin-top: -15px;
    margin-bottom: 0px;
}


.clock2digit {
    max-width: 300px;
    bottom: -25px;
    position: absolute!important;
    right: -37px;
    width: auto!important;
    transform: scale(.6);
    top: auto;
}


.flip-clock-wrapper {
    font: 11px;
    -webkit-user-select: none;
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 14px;
}

.flip-clock-wrapper:before, .flip-clock-wrapper:after {
    content: " ";
    display: table;
}

.flip-clock-wrapper * {
    box-sizing: border-box;
    backface-visibility: hidden;
}

.flip-clock-wrapper ul {
    list-style: none;
}

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 60px;
    height: 90px;
    font-size: 80px;
    font-weight: 700;
    line-height: 87px;
    border-radius: 6px;
    background: #f6ce60;
}

.flip-clock-wrapper .flip {
    box-shadow: 0 2px 5px #f6ce60b3;
}


.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 87px;
    text-decoration: none!important;
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2;
}

.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3;
}


.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #0000;
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    perspective: 200px;
    margin: 0!important;
    overflow: visible!important;
    cursor: default!important;
}


.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent;
}


.flip-clock-wrapper ul li a div.up {
    transform-origin: 50% 100%;
    top: 0;
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    animation: turn2 .5s linear both;
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: -moz-linear-gradient(top,rgba(0,0,0,0.1) 0%,black 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.1)),color-stop(100%,black));
    background: linear,top,rgba(0,0,0,.1) 0%,#000 100%;
    background: -o-linear-gradient(top,rgba(0,0,0,0.1) 0%,black 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0.1) 0%,black 100%);
    background: linear,to bottom,rgba(0,0,0,.1) 0%,#000 100%;
    animation: show .5s linear both;
}


.flip-clock-wrapper ul li a div div.inn {
    background-color: #f6ce60;
    color: #000000;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #000;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #f6ce60;
    border-radius: 6px;
    font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0;
}


.flip-clock-wrapper ul li a div.up:after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 3px;
    background-color: #f6ce6066;
}


.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent;
}

.flip-clock-wrapper ul li a div.down {
    transform-origin: 50% 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}



.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: -moz-linear-gradient(top,black 0%,rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,black),color-stop(100%,rgba(0,0,0,0.1)));
    background: linear,top,#000 0%,rgba(0,0,0,.1) 100%;
    background: -o-linear-gradient(top,black 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,black 0%,rgba(0,0,0,0.1) 100%);
    background: linear,to bottom,#000 0%,rgba(0,0,0,.1) 100%;
    animation: show .5s linear both;
}



.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #000;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #f6ce60;
    border-radius: 6px;
    font-size: 70px;
}
.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
}



.flip-clock-wrapper ul li.flip-clock-active {
    z-index: 3;
}
.flip-clock-wrapper ul.play li.flip-clock-active {
    animation: asd .01s .49s linear both;
    z-index: 5;
}


.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -moz-linear-gradient(top,rgba(0,0,0,0.1) 0%,black 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.1)),color-stop(100%,black));
    background: linear,top,rgba(0,0,0,.1) 0%,#000 100%;
    background: -o-linear-gradient(top,rgba(0,0,0,0.1) 0%,black 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0.1) 0%,black 100%);
    background: linear,to bottom,rgba(0,0,0,.1) 0%,#000 100%;
    animation: hide .5s .3s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    animation: turn .5s .5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -moz-linear-gradient(top,black 0%,rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,black),color-stop(100%,rgba(0,0,0,0.1)));
    background: linear,top,#000 0%,rgba(0,0,0,.1) 100%;
    background: -o-linear-gradient(top,black 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,black 0%,rgba(0,0,0,0.1) 100%);
    background: linear,to bottom,#000 0%,rgba(0,0,0,.1) 100%;
    animation: hide .5s .2s linear both;
}


@keyframes turn{0%{transform:rotateX(90deg)}100%{transform:rotateX(0deg)}}
@keyframes turn2{0%{transform:rotateX(0deg)}100%{transform:rotateX(-90deg)}}
@keyframes show{0%{opacity:0}100%{opacity:1}}
@keyframes hide{0%{opacity:1}100%{opacity:0}}
@keyframes asd{0%{z-index:2}100%{z-index:4}}


.matchodds_collapse {
    width: 18.6%;
}

.table-data-inn .table .casino td{
    vertical-align: middle;
}

.table-data-inn .com-bx.casino{
    line-height: 21px;
    vertical-align: middle;
}
.table-data-inn .com-bx.casino h6{
    margin-top: 0;
    line-height: 14px;
}

.mx-wd .casino{
    text-align: center;
}
.mx-wd .casino h6{
    line-height: 11px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}
.mx-wd .casino span{
    font-size: 12px;
    margin-top: 6px;
    line-height: 11px;
}

.row.matka-row{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.row.matka-row .matka-rate-text{
    color: #ffffff;
    font-weight: 501;
    font-size: 16px;
    padding: 8px;
}
.row.matka-row .matka-card-inactive{
    opacity: 0.3;
}

.row.matka-row .matka-card{
    color: #000000;
    background: #f6ce60;
    font-weight: 401;
    font-size: 16px;
    padding-top: 2px;
    height: 27px;
    width: 30px !important;
    text-align: center;
    border-radius: 8px;
    margin: 5px;
}
.row.matka-row .bet_buttons_main .matka-card{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    height: 23px;
    padding-top: 3px;
    font-weight: 501;
    margin-left: 0px;
}

.row.matka-row .matka-card-pl{
    color: #ffffff;
    font-weight: 401;
    font-size: 10px;
    margin-top: 5px;
    line-height: 16px;
}

.row.matka-row .matka-card-pl.green-txt-casino {
    color: #09a41d;
}
.row.matka-row .matka-card-pl.red-txt-casino {
    color: #ff0000;
}

.casino .matkanumber-result{
    position: absolute;
    top: 0px;
    bottom: 13px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    background: #ffffff00;
    border-radius: 52px;
    font-size: 21px;
    font-weight: 501;
}










